body{
    background-color: #F6F6F6;
}

.cards{
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 73%;
    margin-left: 11%;
}
.cards p{
    margin-right: 40px;
}

.cards ul{
    display: flex;
    list-style: none;
    gap: 10px;
   
}

.container1{
    display: flex;
    gap: 40px;
}

/* .containers corp2 */
.containers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    width: 85%;
    margin-left: 5%;
}

.containers .table1 h5{
   background-color: #C8A165;
   width: 60px;
   height: 20px;
   text-align: center;
   border-radius: 5px;
   position: relative;
   top: -45px;
}

.containers .table1 h2{
    font-family: 'Times New Roman', Times, serif;
   font-size: 20px;
    margin-left: 80px;
    position: relative;
   top: -45px;
   
}

.containers .table1 .infoimg h4{
     margin-top: -25px;

}

.containers img{
    width: 80%;
    height: 50%;
    margin-left: 20px;
    margin-top: -35px; 
}
#image{
    height: 350px;
}

#informationimage{
    margin-top: -105%;
    
}

.containers .table1{
    background-color: white;
    margin-top: 40px;
    height: 350px;
    width: 220px;
}

.infoimg{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 60px;
}

.container1 .table1 .infoimg span{
    background-color: brown;
    margin-top: 40px;
    width: 60px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    top: -65px;
   }
 
   .containers .favori{
    text-align: center;
    margin-top: 20px;
    color: brown;
   }

   .containers .icon-link{
    background-color: #F6F6F6;
    text-align: center;
    position: relative;
    top: 20px;
    width: 70%;
    margin-left: 30px;
    
    
   }
   .containers .table1 h6{
    font-size: 15px;
   }

   .containers .icon-link i{
    margin-top: -30px;
    color: #B2B2B2;
    
   }
 

   .containers .table1 h3{
    text-align: center;
    font-size: small;
   }
   .table1 img{
    width: 180px;
    height: 150px;
    padd
}
   .navfin{
    background-color: white;
    width: 85%;
    text-align: center;
    padding:  10px;
}
@media screen and (max-width: 992px) {
    .container1{
        display: flex;
        flex-direction: column;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
    .liste{
       margin-left: -40px;
    }
}