/* global style */
*{
    margin: 0;
    padding: 0;
   
}
/* container contact style */
.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* padding-top: 10px ; */
    width: 75%;
    height: 530px;
    background-color: #FFFFFF;
    /* border: 1px solid black; */
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 1px 1px gray;
    border: none;
    margin-top: 30px;

}
/* contact info style  */
.info-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
    
}
.top-contact  {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.para-content {
    /* gap: 10px; */
    margin-top: -50px;
    padding: 10px;
    /* margin-right: 20px; */
    /* padding-right: 1px; */
}

.para-content.para1 i {
    /* gap: 10px; */
     margin-right: 0px;
     background-color: red;
    /* margin-right: 20px; */
    /* padding-right: 1px; */
}

.info-contact span {
 
    margin-left:40px;
   
}
.info-contact i{
    padding: 5px;
    border: 10px solid transparent transparent;
    background-color: #F6F6F6;
    margin-right: 5px;
}
.title-h3 {
    padding-top: 40px;
    padding-bottom: 10px;

}

 .title-h3 h3 hr{
   /* border-bottom: 2px solid  #F6F6F6; */
   padding-left: -10px;
   width: 20%;
}

 .input-contact input {
    padding:10px;
    margin: 5px;
    width: 200px;
    background-color:  #F6F6F6;
    border: none;
    
 }

 .textarea-content  textarea{
    content: "Your message here";
    padding:2px;
    margin: 5px;
    width: 200px;
    background-color:  #F6F6F6;
    border: none;
    
 }
 .btn-submit button {
background-color: #C87065;
color: white;
text-align: center;
padding: 8px;
width: 150px;
border: none;
margin-left: 5px;
 }
 /* location style  */
.mapouter{
    position:relative;
    text-align:right;
    width:500px;
    height:400px;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:500px;
    height:400px;
}
.gmap_iframe {
    width:500px!important;
    height:400px!important;
}
    
/* responsive with  css media query  */
@media screen and (width<=900px) {
    .contact-container {
        display: flex;
        flex-direction: column;
       width: 90%;
       height: auto;
    }
    .input-contact input {
        padding:10px;
        margin: 5px;
        width: 300px;
        background-color:  #F6F6F6;
        border: none;
        
     }
     .textarea-content  textarea{
        content: "Your message here";
        padding:2px;
        margin: 5px;
        width: 320px;
        background-color:  #F6F6F6;
        border: none;
        
     }
     .btn-submit button {
        background-color: #C87065;
        color: white;
        text-align: center;
        padding: 8px;
        width: 200px;
        border: none;
        margin-left: 5px;
         }

     }

     
     @media screen and (width<=448px) {
   
        .contact-container {
            display: flex;
            flex-direction: column;
           width: 100%;
           height: auto;
           /* background-color: red; */

     }
     
     /* .mapouter{
        position:relative;
        text-align:right;
        width:300px;
        height:auto;
    }
    .gmap_canvas {
        overflow:hidden;
        background:none!important;
        width:300px;
        height:auto;
    }
    .gmap_iframe {
        width:300px!important;
        height:auto!important;
    }  */
   
    } 
      