:root {
    --grisback : #F6F6F6;
    --marron : #C7A065;
}
*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
.clear{
    margin-top: 40px;
}
.clearsmall{
    margin-top: 20px;
}
.textheader{
    text-align: center;
}
.textheader h2{
font-size: 22px;
font-weight: bold;
}
.textheader hr{
    border: none;
    background-color: #D08A82;
    height: 4px;
    width: 5%;
    margin-left: 47%;

}

/* .textheader .tmember{
color: var(--marron);
width: 15%;
font-size: 80px;
} */

 /* About */
 .about{
    background-color: var(--grisback);
    padding: 0 20px;
 }
 /* About top */
 .topabout{
    background-color: white;
    height: 390px;
    display: grid;
    width: 100%;
    grid-template-columns: 40% 60%;
    /* padding-left: 80px; */
    /* border: 4px solid yellow; */
    /* padding: 0 40px; */

 }

    /*  top left */
    .topaboutleft{
        height: 380px;
        /* border: 2px solid red; */
    }
    .topaboutleft img{
        height: 380px;
        width: 120%;
    }

    /* top right */
    .topaboutright{
        width: 110%;
        height: 320px;
        position: relative;
        right: 110px;
        top: 5px;
        background-color: var(--grisback);
    }
    .topaboutright h4{
        font-size: 16px;
        font-weight: bold;
    }
    .topaboutright p{
        font-size: 13px;
        font-weight:400;
    }
/* about bottoom */
.about .topbottomabout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 0 60px;
    

}
.about .topbottomabout .girlabout1{
/* border: 4px solid salmon; */
background-color: white;
/* display: flex; */
/* justify-content: center;
align-items: center; */
padding-top: 20px;
}
.girlabout1 .girlimage{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    height: 140px;

}
.girlabout1 .girlimage img{
    height: 120px;
}
.girlabout1 .girltext{
 /* border: 2px solid green; */
 text-align: center;
}
.girlabout1 .girltext h5{
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.705);
}
    .girlabout1 .girltext h6{
        font-size: 14px;
        color: rgba(0, 0, 0, 0.507);
        font-weight: bolder;
    }
    .girlabout1 .girltext p{
        font-size: 14px;
        font-weight: lighter;
        color: rgba(0, 0, 0, 0.342);
    }
.girlabout1 .girlsocial{
/* border: 2px solid orangered; */
padding-top: 10px;

}
#iconesocial{
    color: gray;
    font-size: 13px;
}
    .girlabout1 .girlsocial ul{
display: flex;
justify-content: space-evenly;
    }
    .girlabout1 .girlsocial li{

    }
    .girlabout1 .girlsocial a{

    }

    /* media query */
    @media (max-width:1023px){
        .topaboutleft{
            height: 380px;
            /* border: 2px solid red; */
        }
        .topaboutleft img{
            height: 380px;
            width: 100%;
        }
        .topaboutright h4{
            font-size: 14px;
            font-weight: bold;
        }
        .topaboutright p{
            font-size: 12px;
            font-weight:400;
        }

    } 
    @media (max-width:900px){
        .topaboutleft{
            height: 340px;
            /* border: 2px solid red; */
        }
        .topaboutleft img{
            height: 340px;

        }
    
        /* top right */
        .topaboutright{
            height: 300px;
        }
        .topaboutright h4{
            font-size: 12px;
        }
        .topaboutright p{
            font-size: 10px;
        }
        .girlabout1 .girlimage{
            /* border: 2px solid red; */
            height: 120px;
        }
        .girlabout1 .girlimage img{
            height: 100px;
        }
        .girlabout1 .girltext h5{
            font-size: 13px;
          
        }
            .girlabout1 .girltext h6{
                font-size: 10px;
                color: rgba(0, 0, 0, 0.507);
                font-weight: bolder;
            }
            .girlabout1 .girltext p{
                font-size: 12px;
                font-weight: lighter;
                color: rgba(0, 0, 0, 0.342);
            }

    }
    @media (max-width:768px){
         .topaboutleft{
            height: 320px;
            /* border: 2px solid red; */
        }
        .topaboutleft img{
            height: 320px;

        }
        .topaboutright{
            height: 290px;
            width: 110%;
            position: relative;
            right: 80px;
            top: 5px;
        }
        .topaboutright h4{
            font-size: 12px;
        }
        .topaboutright p{
            font-size: 10px;
        }
        .about .topbottomabout{
            display: grid;
            grid-template-columns: 1fr 1fr ;
            gap: 20px;
            padding: 0 60px;  
        }
        .girlabout1 .girlimage{
            /* border: 2px solid red; */
            display: flex;
            justify-content: center;
            height: 120px;
        }
        .girlabout1 .girlimage img{
            height: 100px;
        }
    }
    @media (max-width:448px){
        .topabout{
            background-color: white;
            height: 800px;
            display: grid;
            grid-template-columns: 1fr;
         }
         .topaboutleft{
            height: 240px;
        }
        .topaboutleft img{
            height: 240px;

        }
         .topaboutright{
            height: 520px;
            position: relative;
            width: 90%;
            right: -19px;
            top: -40px;
            background-color: var(--grisback);
        }
        
        .topaboutright h4{
            font-size: 16px;
            font-weight: bold;
        }
        .topaboutright p{
            font-size: 13px;
            font-weight:400;
        }
        .about .topbottomabout{
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            padding: 0 60px;
            
        
        }
    }