*{
    margin: 0;
    padding: 0;
}

.categorie{
    width: 90%;
    height: auto;
    /* background-color: red; */
    margin: 0 auto;
}


/***** bloc gauche *****/
.categorie-items .items-g{
width: 20%;
}
.categorie-items .items-d{
width: 75%;
height: auto;
/* background-color: bisque; */
}
.categorie-items .items-g .rechercher{
    height: 40px;
    width: 100%;
    background-color: white;
}


.size span{
    padding: 5px;
    background-color: #e6e8e9;
}


/***** End bloc gauche *****/



/***** bloc droite *****/
.categorie-items .items-d .trie{
    height: 40px;
    width: 100%;
    background-color: white;
}

#card{
    height: 400px;
}

.card-status{
    position: relative;
    bottom: -15px;
    height: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.card-status span{
    height: 20px;
}

.paginat-items{
    width: 25%;
}
/***** End bloc droite *****/

/* retouche footer  */
.footer-newsletter{
display: flex;
flex-direction: column;
}
.footer-newsletter button{
border: none;
padding: 5px;
margin-top: 5px;
width: 150px;
}


/* banner  */
.banner{
    width: 100%;
    height: 220px;
    margin-bottom: 50px;
    background-image: url(https://htmldemo.net/hurst-v1/hurst/img/bg/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.banner .banner-text{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.banner .banner-text h2{
   text-align: center;
   padding-top: 60px;
   font-size: 80px;
   color: white;
   font-weight: bold;
}
.banner .banner-retour{
   color: white;
   width: 80%;
margin: 0 auto;
}
.banner .banner-retour a{
   color: white;
   text-decoration: none;
}
/* .banner img{
    width: 100%;

} */



/* fleche retour  */
#back-top{
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 50px;
    margin-right: 20px;
    color: #C87065;
    transition: 1s ease;
    opacity: 0;
}

.back-top-okay1{
    opacity: 1;
    /* color: aqua; */
}

/***** side-menu *****/
#menu-door{
    cursor: pointer;
}
.side-menu {
    height: 90vh;
    width: 20%;
    backdrop-filter: blur(50px);
    color: red;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 1;
    margin-left: -400px;
    transition: 1s ease;
}


.side-menu .side-links {

    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50%;
    padding-left: 30px;
}
.side-menu .side-links i{

    color: #C87065;
}

.side-menu .side-links a {
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

/***** End side-menu *****/

/* l'affichage par grid ou list */
#list-door,#grid-door{
    cursor: pointer;
    /* color: #C87065; */
}


.card-status {
    position: relative;
    bottom: -15px;
    height: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
}
/***** responsive *****/
@media screen and (max-width:767px) {
    .categorie .categorie-items{
        flex-direction: column-reverse;
    }
    .categorie .categorie-items .items-g{
       margin: 0 auto;
       width: 80%;
       gap: 20px;
       margin-top: 20px;
    }
    .categorie .categorie-items .items-d{
        margin: 0 auto;
        width: 80%;
    }

    .paginat-items{
        width: 80%;
    }

    .trie span{
        font-size: 14px;
    }

    .banner .banner-text h2{
        font-size: 40px;
    }
    .banner .banner-retour{
        margin-top: 60px;
    }
}


/***** End responsive *****/